table {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

td {
  cursor: grab;
}